main
{
    box-sizing: border-box;
    padding-left: $side-edge;
    padding-right: $side-edge;

    background-color: $background-secondary;
    
    display: flex;
    flex-direction: column;
    //align-items: flex-start;
    align-items: center;
    gap: 15px;
}

.main--home-auth
{
    align-items: flex-start;
}