.login_signup_box
{
    width: $login_signup-box-width;
    background-color: $background-primary;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap:$login_signup-box-space-between-field;

    &__field
    {
        display: flex;
        flex-direction: column;
        label
        {
            font-size: $login_signup-box-font-size-label;
            margin-bottom: $login_signup-box-space-between-element;
        }
        input
        {
            background-color: $color-secondary; 
            margin-bottom: $login_signup-box-space-between-element;

            border-radius: 6px;
            border-style: none;

            padding-inline: 10px;
            padding-top: 3px;
            padding-bottom: 3px;

            &:focus
            {
                outline: 2px solid $color-tertiary;
            }
        }
        &__error
        {
            margin:0;
            color: $color-error;
            font-size: $login_signup-box-font-size-error;
            
            &--login
            {
                margin: 0;
                color: $color-error;
            }
        }
    }

    &__button
    {
        width: 50%;
        align-self: center;
    }
}