.post-box
{
    width: calc(100% - 2*$padding-post-box);
    max-height: $height-post-box;
    padding: $padding-post-box;
    margin-bottom: $padding-post-box;

    background-color: $background-primary;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    textarea
    {
        box-sizing: border-box;
        resize: none;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        
        border: none;
        border: 1px solid grey;
        border-radius: 10px;

        height: 100px;
        &:focus
        {
            outline: none;
        }
    }

    &__author
    {
        display: flex;
        align-items: center;
        gap:20px;
        &__avatar
        {
            height: $width-avatar;
            width: $width-avatar;

            img
            {
                box-sizing:border-box;
                height: 100%;
                width: 100%;

                border: 4px solid $color-tertiary;
                border-radius: $width-avatar;

                object-fit: contain;
            }
        }

        &__username
        {
            font-size: 22px;
            font-weight: bold;;
        }

    }

    &__content
    {        
        &--imageOnly
        {
            height: $height-post-box-image;
            width: 100%;
            img
            {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        &--textAndImage__imageContainer
        {
            height: $height-post-box-image;
            width: 100%;
            img
            {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &__interaction
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        &__like
        {
            cursor: pointer;
            height: 50px;
            width: 50px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &__action
            {
                font-size: 30px;
            }
            
            .liked
            {
                color: $color-primary;
            }
        }
        &__editdelete
        {
            display: flex;
            gap: 10px;
        }
    }

    &__info
    {
        text-align: end;
        &--administrateur
        {
            color: $color-error;
        }
    }
}