@media all and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop)
{
    body
    {
        background-color: yellow;
    }
    .contentWrapper
    {
        width: $width-content-tablet;
    }
    main
    {
        width: $width-content-tablet;
    }
    .post_maker__box_submit__field__title--image
    {
        width: 50%;
        margin-right: 30px;
        &__button
        {
            width: 100%;
        }
    }
    .sorting-post-box
    {
        //width: calc(100% - $side-edge);
        //min-width: fit-content;
        //width: calc(100% - $side-edge);
        min-width: fit-content;
        width: fit-content;
        align-self: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &__choice
        {
            width: 140px;//126px;
            min-width: fit-content;
            text-align: center;
        }
    }
}