$color-primary:#ea1c03; //Modifiée
$color-secondary:#FFd7d7; //Original
$color-tertiary:#353535;//Modifiée
$color-error: #EE0700;
$color-link: #0000ff;

$background-primary:#FFFFFF;
$background-secondary:#ededed;//#e1e1e1;//#fafafa;

//$background-primary:#FFFFFF;
//$background-secondary:#745f5f; //Pour box login
//$background-tertiary:#eaeaea; //a revoir
//$background-quaternary:#353535; //a revoir

$height-header:80px;
$height-footer:55px;

$width-content:65%;
$width-additionnal-header_footer: 5%;
$side-edge:30px;

//Variables pour les login/signUp Box;
$login_signup-box-width:400px;
$login_signup-box-space-between-field: 20px;
$login_signup-box-space-between-element: 5px;
$login_signup-box-font-size-label:15px;
$login_signup-box-font-size-error:14px;

//Variable pour postMaker
$width_postmaker_label: 25%;
$width_postmaker_input: 75%;

//Variable pour post
$height-post-box: 500px;
$height-post-box-image:200px;
$padding-post-box: 15px;
$width-avatar: 75px;

//media_queries
$breakpoint-desktop-tweak: 1200px;
$breakpoint-desktop: 991px;
$breakpoint-tablet: 768px;
//$breakpoint-tablet: 790px;
//$breakpoint-tablet: 500px;

//desktop
$width-content-desktop-tweak:80%;

//tablet
$width-content-tablet:90%;

//mobile
$width-content-mobile:100%;